.row h1 {
    width: 100%;
    text-align: center;
    font-size: 3.75em;
    margin: 0.6em 0;
    font-weight: 600;
    color: #070024;
  }
.single_notepage {
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    /* display: flex; */
    align-items: center;
    width: fit-content;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* cursor: pointer; */
    width: 600px;
    /* box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08); */
    font-family: "Montserrat", sans-serif;
    margin: 50px 0px;
    /* ///  panga*/
    padding: 3.1em 1.25em;
    
    background: linear-gradient(0deg, #397ef6 10px, transparent 10px);
    background-repeat: no-repeat;
    background-position: 0 0.62em;
    box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.15);
    border-radius: 0.5em;
    transition: 0.5s;
    
  }
  
    .single_notepage:hover {
        background-position: 0;
      }

  
  .single_note_page_title {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
    margin-top: 30px;
  }
  
 
  .single_note_page_desc {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 27px;
    margin: 10px 0px;
  }
  .notepage_box {
    position: absolute;
    top: -10px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .complete_____note {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
 
  
  @media only screen and (max-width: 600px) {
    .single_notepage {
      width: 420px;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .single_notepage {
      width: 300px;
    }
  }